<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <title>Stockearte</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: #353A40;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4 ms-3">Stockearte</span>
            </a>
            <div id="navbarSupportedContent">
                <ul class="nav">
                    <form action="{{ url_for('logout') }}" method="post">
                        <button class="btn nav-link link-secondary text-white-50" type="submit">Cerrar sesión</button>
                    </form>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <h1>Detalles del Usuario</h1>
        
        <!-- Tabla de detalles del usuario -->
        <table class="table table-bordered w-50">
            <tr>
                <th>Nombre de Usuario:</th>
                <td>{{ usuario.nombreUsuario }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido:</th>
                <td>{{ usuario.apellido }}</td>
            </tr>
            <tr>
                <th>Tienda:</th>
                <td>{{ tienda.codigo if tienda else 'Sin tienda' }}</td>
            </tr>
            <tr>
                <th>Rol:</th>
                <td>{{ usuario.rol }}</td>
            </tr>
            <tr>
                <th>Habilitado:</th>
                <td>{{ 'Sí' if usuario.habilitado else 'No' }}</td>
            </tr>
        </table>

            <a href="{{ url_for('listar_usuarios') }}" class="btn btn-secondary mt-3 mb-2">Volver a la lista de usuarios</a>
            <a href="{{ url_for('editar_usuario', id=usuario.id) }}" class="btn btn-danger mt-3 mb-2">Editar Usuario</a>

    </div>
</body>
</html>
